---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---
<Layout title="About Me">
    <section class="page-content">
        <div class="container">
            <h2>About Me</h2>
            <p>
                One thing about me.
            </p>
            <p>
                Another thing about me.
            </p>
            <p>
                Could it be? Yes. A third thing about me.
            </p>

            <Card dark={true}>
                <h3>Hello, it's me</h3>
                <p>
                    All the other card things about me.
                </p>
            </Card>
        </div>
    </section>
</Layout>