---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Resume">
    <h1>Matthew J Perez</h1>

    <div>
        <h2>Skills</h2>
        <p>
        <strong>Main:</strong> Rust, Python, C, Bash, PostgreSQL, MongoDB, Neo4j
        </p>
        <p>
            <strong>Development Tools</strong>: Git, Docker, GitLabCI, GNU Debugger, Valgrind
        </p>
        <p>
            <strong>Libraries/Frameworks:</strong> Clap, Axum, Tokio, Tracing, Serde, Tera, FastAPI, Pandas, gRPC
        </p>
        <p>
            <strong>Cloud:</strong> EC2, S3, Lambda, Batch, Step Functions
        </p>
        <p>
            <strong>Languages:</strong> English (Native), Spanish (Conversational), Japanese (Beginner) 
        </p>
    </div>

    <div>
        <h2>Experience</h2>
        <div>
        <strong>Software Engineer – Automation & Tooling | Somos Internet </strong>
        <p>
            Medellín, Colombia (remote) Feb 2022 - Sep 2022
        </p>
        <p>
            Rust, GitLabCI, Clap, Axum, Tokio, Tracing, Neo4j, Postgres
        </p>
        <ul>
            <li>
                • Developed CLI tools to generate network device configurations and update data sources,
                reducing technician deployment times by 375hrs/wk/city.
            </li>
            <li>
                • Built a graph tool to monitor live network topology, automating network outage diagnostics.
            </li>
            <li>
                • Implemented CD pipeline for containerizing services and deploying musl binaries.
            </li>
            <li>
                • Implemented the CI pipeline and githooks to run tests, enforce styling, and audit dependencies
                for Rust projects, streamlining the code review process.
            </li>
        </ul>
        </div>
        <div>
        <strong>Software Engineer (freelance) | ASIMETRIX SAS </strong>
        <p>
            Medellín, Colombia (remote)  Jan 2021 - Sep 2021
        </p>
        <p>
            Python, MongoDB, FastAPI, AWS, Grafana
        </p>
        <ul>
            <li>
                • Developed a visual diagnostic and reporting tool for classifying IoT errors, converting a manual
            </li>
            <li>
                • Designed and built a telemetry stack to ingest sensor data and operational metrics from in-field
                embedded devices, reducing the a 30hr process (per batch) to a dynamic 30-second process.
            </li>
            <li>
                • Built an ergonomic internal library for data scientists to access data sources in a consistent and
                replicable manner, empowering users to extend the library’s functionality with core apis.
            </li>
        </ul>
        </div>
        <br>
        <div>
        <strong>Network Engineer, Sergeant | UNITED STATES MARINE CORPS</strong> 
        <p>
            Okinawa, Japan Sep 2010 - Sep 2014
        </p>
        <p>
            Cisco (IOS), Fortinet (Fortigate), General Dynamics (TACLANE) 
        </p>
            <ul>
                <li> 
                    - Trained and supervised 47 technicians. 
                </li>
                <li> 
                    - Engineering and supervisory roles in 13 military operations, spanning 8 countries.  
                </li>
                <li> 
                    - Configured network devices (routers, switches, firewalls) enabling communications during military operations.
                </li>
            </ul>
        </div>
    </div>

    <div>
        <h2>Education</h2>
        <div>
            <p>
                Georgia Institute of Technology Atlanta, GA | Aug 2021 - Est 2024
                <br>
                MSc Computer Science | Specialization: Computing Systems
            </p>
        </div>
        <div>
            <p>
                Temple University, Japan Campus Tokyo, JP | Jan 2015 - Aug 2018
                <br>
               BSc International Business | Capstone: Share Economy and Aging Markets
            </p>
        </div>
    </div>


</Layout>